.App {
  margin: 1rem auto;
  max-width: 1000px;
  padding: 1rem;
  top : 20px;
  left: 20px;
}

.show {
display: block;
}

.hide {
display: none;
}

.overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #0000003a;
}

.modal {
  width: 400px;
  position: absolute;
  padding: 20px;
  background-color: rgb(115, 196, 228);
  border-radius: 2px;
}

.modal button {
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 1px 1px 1px #0000003a;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.562);
}